// Fonts
$font_basic: "Lato", sans-serif;
$font_secondary: "Merchant", sans-serif;

// Colors
$color_white: #FFF;
$color_darkgray: #292523;
$color_brown: #806044;
$color_darkbrown: #402D26;
$color_black: #000;

// Font weights
$weight_thin: 100;
$weight_extralight: 200;
$weight_light: 300;
$weight_regular: 400;
$weight_bold: 700;

// Breakpoints
$break_sm: 576px;
$break_md: 768px;
$break_lg: 992px;
$break_xl: 1200px;