@font-face {
  font-family: 'Merchant';
  src: url('../assets/scss/fonts/Merchant-Thin.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Merchant';
  src: url('../assets/scss/fonts/Merchant-ExtraLight.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 200;
}

